<!DOCTYPE html>
<html>
	<head>
		<title>Welcome!</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
		<link rel="stylesheet" type="text/css" href="css/welcome.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/welcome.js"></script>
	</head>
	<body>
		<main>
			<h1>Welcome!</h1>
			<form id="welcome">
				<fieldset>
					<legend>Please Leave Your Information Below</legend>
					<input id="first" type="text" placeholder="First Name">
					<input id="last" type="text" placeholder="Last Name">
					<input id="email" type="email" placeholder="Email Address">
					<button id="submit">Submit</button>
				</fieldset>
			</form>
			<div id="howdy">Howdy <span></span>!</div>
		</main>
	</body>
</html>
